body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(241, 11, 172);
    text-align: center;
  }

  h2 {
    color: rgb(61, 11, 241);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }